<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>artistName</key>
		<string>Kris Wu</string>
		<key>albumName</key>
		<string>Eighteen</string>
		<key>songName</key>
		<string>18</string>
		<key>albumArtwork</key>
		<string>demo1.jpg</string>
	</dict>
	<dict>
		<key>artistName</key>
		<string>Ed Sheeran</string>
		<key>albumName</key>
		<string>DIVIDE</string>
		<key>songName</key>
		<string>Happier</string>
		<key>albumArtwork</key>
		<string>demo2.jpg</string>
	</dict>
	<dict>
		<key>artistName</key>
		<string>Shawn Mendes</string>
		<key>albumName</key>
		<string>In My Blood</string>
		<key>songName</key>
		<string>In My Blood</string>
		<key>albumArtwork</key>
		<string>demo3.jpg</string>
	</dict>
	<dict>
		<key>artistName</key>
		<string>The Weekend</string>
		<key>albumName</key>
		<string>My Dear Melancholy</string>
		<key>songName</key>
		<string>Call Out My Name</string>
		<key>albumArtwork</key>
		<string>demo4.jpg</string>
	</dict>
	<dict>
		<key>artistName</key>
		<string>Shawn Mendes/Khalid</string>
		<key>albumName</key>
		<string>Youth</string>
		<key>songName</key>
		<string>Youth</string>
		<key>albumArtwork</key>
		<string>demo5.png</string>
	</dict>
	<dict>
		<key>artistName</key>
		<string>Coldplay</string>
		<key>albumName</key>
		<string>A Head Full of Dreams</string>
		<key>songName</key>
		<string>Hymn For The Weekend</string>
		<key>albumArtwork</key>
		<string>demo6.jpg</string>
	</dict>
	<dict>
		<key>artistName</key>
		<string>XXXTENTACION</string>
		<key>albumName</key>
		<string>Jocelyn Flores</string>
		<key>songName</key>
		<string>Jocelyn Flores</string>
		<key>albumArtwork</key>
		<string>demo7.jpg</string>
	</dict>
	<dict>
		<key>artistName</key>
		<string>Rich chigga</string>
		<key>albumName</key>
		<string>Glow Like Dat</string>
		<key>songName</key>
		<string>Glow Like Dat</string>
		<key>albumArtwork</key>
		<string>demo8.jpg</string>
	</dict>
	<dict>
		<key>artistName</key>
		<string>Childish Gambino</string>
		<key>albumName</key>
		<string>This is America</string>
		<key>songName</key>
		<string>This Is America</string>
		<key>albumArtwork</key>
		<string>demo9.jpg</string>
	</dict>
</array>
</plist>
